## Files
fMRI/fx/gng/prepost_analysis/onsets_column_check.txt
.Rapp.history
fMRI/license.txt
sshKey*
*.nii
*.pdf
.DS_Store
._.DS_Store
*.sh.o*
*.Rhistory
GNG_results.html
GNG_results.pdf
SSRT_results.html
SSRT_results.pdf
credentials.yaml.DEFAULT
*.Rda
*.Rdata
*.rda
*.html
*.jpg
**/errorlog*
**/outputlog*
**/.vscode

## Folders
**/confile_lists/
**/con-*
**/sid_batches/
**/output_logs/
**/__pycache__/*
fmaptest/
subjects/
subjects_old/
subjectsAuto/
behavioral/GNG/logs/
behavioral/REV_SST/compiledResults/upTo*/**
behavioral/REV_SST/scanning/
behavioral/REV_SST/training/
**/output
**/data
behavioral/REV_SST/scripts/analyses/Figs/
behavioral/GNG/scripts/analyses/Figs/
**/initialCheck
**/singleVarTxts
**/varMats
**/logs*
**/scripts/output_logs/
**/scripts/sid_batches/**
fMRI/fx/motion/auto-motion-fmriprep/**
